@charset "utf-8";
/*
COLOR PALETTE:
Dark gray: rgb(20,20,20)
header gray: rgb(30,30,30)
footer gray: rgb(50,50,50)
purple: rgb(95,0,255)
*/

:root {
    --theme: rgb(95,0,255);
}



/*MAIN BODY-----------------------------------------------*/
.main {
    text-align: left;
    font-family: 'courier new', serif;
    font-size: 16px;
    color: rgb(250, 250, 240);
}

.main>p {
    padding: 10px 5%;
}

.main>h1 {
    font-size: 65px;
    font-weight: normal;
    text-align: center;
    padding-top: 15px;
}



.profileBlock {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profileBlock>img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    width: 300px;
    border-radius: 150px;
}



/*ARTICLE-----------------------------------------------*/
article {
padding-right:5%;
padding-left:5%;
}

article:first-of-type {
    margin-top:25px;
}

article>p {
    padding-top:10px;
    text-indent: 40px;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    padding-top: 10px;
}

hr {
    display:block;
    margin: 10px 0 0;
    width:100%;
    height:1px;
    background-color: var(--theme);
}



/*ARTICLE-----------------------------------------------*/
@media screen and (max-width: 900px) {
    .main>h1 {
        line-height:100%;
    }
    h2 {
        line-height:80%;
    }
}