@charset "utf-8";
/*
COLOR PALETTE:
Dark gray: rgb(20,20,20)
header gray: rgb(30,30,30)
footer gray: rgb(50,50,50)
red: rgb(255,0,33)
*/

:root {
    --theme: rgb(255, 0, 33);
}



/*MAIN BODY-----------------------------------------------*/
.main {
    display: flex;
}



.column {
    flex: 50%;
    font-family: 'courier new', serif;
    font-size: 16px;
    text-align: left;
    color: rgb(250, 250, 240);
}

.column>p,
.column>form {
    padding: 10px 5%;
}

.column>h2 {
    font-weight: normal;
    font-size: 10px;
    padding-top: 20px;
    text-align: center;
}



#description {
    font-weight: normal;
    text-indent: 40px;
    padding-top: 20px;
}



/*FORM-----------------------------------------------*/
form>p,
.msglabel {
    font-weight: bold;
}

::placeholder {
    color: rgba(250, 250, 240, .5)
}

#phone,
#email,
#name,
#msg,
#submit,
#reset {
    font-size: 16px;
    font-family: 'courier new', serif;
    color: rgb(250, 250, 240)
}

#phone,
#email,
#name,
#msg {
    border: 1px solid rgb(250, 250, 240);
    border-radius: 3px;
    padding: 2px 3px;
}

textarea {
    resize: none;
}



#submit,
#reset {
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
    font-weight: bold;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

#submit:hover {
    color: rgb(0, 255, 95);
}

#reset:hover {
    color: rgb(255, 0, 33);
}



/*MEDIA-----------------------------------------------*/
@media screen and (max-width: 900px) {
    .main {
        flex-flow:column;
    }
}