@charset "utf-8";

:root {
    --text-white: #fafaf0;
    --glass: rgba(60, 60, 60, 0.3);
    --filterblur: .35px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgb(20, 20, 20);
    background-image: url(../images/fractal.svg);
    background-size: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    height: 100dvh;
    color: var(--text-white);
}

body {
    font-size: 100%;
    font-weight: inherit;
    margin: 0px;
    padding: 0px;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    display: block;
    width: 50vw;
    height: 1px;
    min-height: 1px;
    background-color: var(--text-white);
    filter: url(#rgb-diffract);
    margin: 20px 0;
}

/*NAV (VERSION 3)--------------------------------*/


.nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: url(#rgb-diffract) blur(var(--filterblur));
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
    height: 20px;
    background-color: rgb(20 20 20 / .5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.nav__link {
    color: var(--text-white);
    text-decoration: none;
}

.nav__link--active {
    text-decoration: underline;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__logoimage:hover {
    filter: url(#rgb-diffract);
}

.outlink {
    color: #0000ff;
}


/*MAIN BODY BOX--------------------------------------*/
.main {
    height: calc-size(auto, size + 10px);
    max-height: 70vh;
    min-height: 0;
    width: 50vw;
    padding: 20px;
    backdrop-filter: url(#rgb-diffract) blur(var(--filterblur));
    background-color: rgb(20 20 20 / .5);
}

.main__contentbox {
    height: 100%;
    --cols: 6;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__container {
    display: block;
    /* height: calc(var(--size) - 20px); */
    position: relative;
}

.main__head {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.main__texthead {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    align-self: center;
    background-color: var(--text-white);
    color: rgb(20, 20, 20);
    margin: 0 5px;
    min-width: 8rem;
}

.main__text {
    margin: 5px 5px 0;
}

.main__imagebox {
    height: 25px;
}

.main__image {
    height: 100%;
    object-fit: contain;
    filter: grayscale(1);
}

.main__image--profile {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    overflow: hidden;
    margin: 5px 10px 0 5px;
    float: left;
}

.diffracted {
    filter: grayscale(1) url(#rgb-diffract);
}

.diffracted--hover:hover {
    filter: url(#rgb-diffract);
}

.covered {
    object-fit: cover;
}

/*FOOTER--------------------------------------------*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: url(#rgb-diffract) blur(var(--filterblur));
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
    height: 20px;
    background-color: rgb(20 20 20 / .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports (-webkit-backdrop-filter: blur(var(--filterblur))) {

    .nav,
    .main,
    footer {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }
}

/*MEDIA AND PRINT-------------------------------------------*/
@media screen and (max-width: 1500px) {

    .main,
    hr {
        width: 75vw;
    }
}

@media screen and (max-width: 900px) {

    html,
    body {
        height: 100dvh;
    }

    body {
        align-items: none;
        justify-content: none;
    }

    .nav {
        position: relative;
        font-size: 12px;
        height: 3rem;
    }

    hr {
        width: 90vw;
        position: relative;
    }

    .main {
        position: relative;
        flex: 1;
        max-height: 100vh;
        width: 90vw;
    }

    .main__texthead {
        width: min-content;
    }

    footer {
        position: relative;
        font-size: 10px;
        height: 3rem;
    }
}



@media print {

    *,
    #pageTitle,
    nav>ul>li>a,
    ol>li>a {
        color: black;
    }

    @page {
        size: landscape;
    }
}